.acwrap{
position: relative;
}
.acwrap .results{
position:absolute;
list-style-type: none;
margin:0;
padding:0; 
left: 0; 
top:1.4em;
min-width:18em; 
border:1px solid orange;
padding: 0 0.5em 0 0.2em;
z-index:99;
background:#fff;
}
.acwrap .results li{
display:block;
}
.acwrap .results li:hover, .acwrap .results li:active, .acwrap .results .selected{
background: lightblue;
}
.acwrap .results .found{
color:red;
font-weight: strong;
}
.acwrap .hidden{
display:none;
}